.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* nav style */
.nav-title .span{
   color:#FD6E0A;
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin:20px 200px;


}
.btn-primary{
    background-color:#FD6E0A;
    color:azure;
    width:150px;
    height: 64px;
   border-radius:10px;
    border:none;
    font-weight:bold;
    padding:18px 35px;
    font-size:20px;
}
nav ul{
    display: flex;
    align-items:center;
}
.nav-title{
    font-weight: 800px;
    font-size:45px;
}
nav ul li{
    list-style:none;
    margin:50px;
}
nav ul li a{
    text-decoration:none;
    font-size:20px;
    color:#474747;
}
.header .secondary-bg{
    background-color: #FFF8F3;
}

/* nav style */

.banner-greetings{
    color:#474747;
    font-size:45px;
    font-weight:600px;
}
.banner-title{
    font-weight:bold;
    font-size:75px;
}
.banner-description{
   color:#474747;
   font-size:12px ; 
   padding-bottom:10px;
}
.banner-profile-picture{
    width: 580px;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin:0 35px 0 230px;
}
.banner-contain{
    max-width:580px;
}
header{
background-image: url("../images/developer.png"),url("../images/header_bg.png");
background-repeat: no-repeat;
background-position:top left, bottom right;
}
.section-title{
    font-size: 35px;
    font-weight:bold;
    color:#1E1E1E;
}
.section-discription{
    color:#757575;
    font-weight:18px;
}
.secondary-bg{
    background-color: #FFF8F3;
}
/* main style */
main{
    max-width:1140px;
    margin: 0 auto;
    
}
main section{
    margin-top:130px;
    margin-bottom:130px
}


/* skills section style*/

.skills-container{
    display:flex;
    gap:24px;
}
.skill{
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
     border-radius:5px;   
}

